.vscode
/.metadata/
EmbeddedSysLevel2/.metadata

EmbeddedSysLevel2/TrafficLight/TrafficLight/TrafficLight/Debug
EmbeddedSysLevel2/TWI/Debug
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/Debug
EmbeddedSysLevel2/Com2MCUSPI/MasterSPI/MasterSPI/Debug
EmbeddedSysLevel2/I2C/I2C/I2C/Debug
EmbeddedSysLevel2/I2C/I2CSlave/I2CSlave/Debug
EmbeddedSysLevel2/EEPROM/Debug



/**************************************************//
EmbeddedSysLevel2/TWI/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/TWI/.project

EmbeddedSysLevel2/TWI/.cproject
EmbeddedSysLevel2/TrafficLight/TrafficLight.drawio
EmbeddedSysLevel2/EEPROM/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/EEPROM/.project
EmbeddedSysLevel2/EEPROM/.cproject
EmbeddedSysLevel2/KeyPad_Lcd/Debug
EmbeddedSysLevel2/KeyPad_Lcd/.cproject
EmbeddedSysLevel2/KeyPad_Lcd/.project
EmbeddedSysLevel2/KeyPad_Lcd/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/ADC/Debug
EmbeddedSysLevel2/ADC/.project
EmbeddedSysLevel2/ADC/.cproject
EmbeddedSysLevel2/ADC/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/Thermostat/.cproject
EmbeddedSysLevel2/Thermostat/.project
EmbeddedSysLevel2/Thermostat/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/Thermostat/Debug
EmbeddedSysLevel2/Thermostat/.settings/org.eclipse.cdt.codan.core.prefs

ATM/.project
ATM/ATM/.cproject
ATM/ATM/.project
ATM/ATM/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/ATM_Terminal/.cproject
EmbeddedSysLevel2/ATM_Terminal/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/Thermostat/Simulation/LM35.pdsprj.DESKTOP-CMMP1KO.2bdoa.workspace
EmbeddedSysLevel2/ATM_Terminal/.project

EmbeddedSysLevel2/ATM_Project/ATM/ATM/Debug
EmbeddedSysLevel2/ATM_Project/ATM/Debug
EmbeddedSysLevel2/ATM_Project/ATM_Terminal/Debug
EmbeddedSysLevel2/ATM_Project/ATM/.cproject
EmbeddedSysLevel2/ATM_Project/ATM/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/ATM_Project/ATM/ATM/.project
EmbeddedSysLevel2/ATM_Project/ATM/.project
EmbeddedSysLevel2/ATM_Project/ATM/ATM/.settings/de.innot.avreclipse.core.prefs
EmbeddedSysLevel2/ATM_Project/ATM/ATM/.cproject
ATM/ATM/Debug

Projects/.metadata
Projects/Car_UltraSonic/Debug
Projects/Car_UltraSonic/.settings/de.innot.avreclipse.core.prefs
Projects/Car_UltraSonic/.project
Projects/Car_UltraSonic/.cproject
Projects/.metadata
Projects/Timer
Design/Interrupts
Design/SOS/MCAL/DIO
Design/SOS/MCAL/EXTI
Design/SOS/MCAL/PWM

Design/SOS/Debug
Projects/RTOS
Projects/Car_UltraSonicRefactor/Debug
Projects/Car_UltraSonicRefactor/.project
Design/SOS/.project
Design/SOS/.cproject
Projects/BluetoothModule/Debug
Projects/BluetoothModule/.cproject
Projects/BluetoothModule/.project
Projects/BluetoothModule/.settings/de.innot.avreclipse.core.prefs
Projects/BluetoothModule/Release
Projects/Machine2Machine/BluetoothModule/Debug
Projects/Machine2Machine/BLuetoothSlave/Debug
Projects/Machine2Machine/BluetoothModule/Release
