.vscode
/.metadata/

EmbeddedSysLevel2/Com2MCUSPI/MasterSPI/MasterSPI/Debug
EmbeddedSysLevel2/Com2MCUSPI/MasterSPI/MasterSPI.atsln
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/SlaveSPI.cproj
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/Debug
EmbeddedSysLevel2/SPI/SPI/SPI/Debug
EmbeddedSysLevel2/SPI/SPI - Slave/SPI/Debug
EmbeddedSysLevel2/TrafficLight/TrafficLight/TrafficLight/Debug
EmbeddedSysLevel2/TrafficLight/TrafficLight/TrafficLight/TrafficLight.cproj
EmbeddedSysLevel2/UART/.vs/UART/v14/.atsuo

EmbeddedSysLevel2/UART/UART/UART.componentinfo.xml
EmbeddedSysLevel2/UART/UART/Debug
EmbeddedSysLevel2/SPI/SPI - Slave/SPI/SPI.cproj
EmbeddedSysLevel2/SPI/SPI/SPI.atsln
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/.vs/SlaveSPI/v14/.atsuo
EmbeddedSysLevel2/UART/UART/UART.cproj
EmbeddedSysLevel2/TrafficLight/TrafficLight/TrafficLight/TrafficLight.componentinfo.xml
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/SlaveSPI.componentinfo.xml
EmbeddedSysLevel2/Com2MCUSPI/MasterSPI/MasterSPI/MasterSPI.cproj
EmbeddedSysLevel2/Com2MCUSPI/MasterSPI/MasterSPI/MasterSPI.componentinfo.xml
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/SlaveSPI.atsln
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/.vs/SlaveSPI/v14/.atsuo
EmbeddedSysLevel2/SPI/SPI/.vs/SPI/v14/.atsuo
EmbeddedSysLevel2/SPI/SPI/SPI/SPI.componentinfo.xml
EmbeddedSysLevel2/SPI/SPI/SPI/SPI.cproj
EmbeddedSysLevel2/SPI/SPI - Slave/SPI.atsln
EmbeddedSysLevel2/SPI/SPI - Slave/.vs/SPI/v14/.atsuo
EmbeddedSysLevel2/SPI/SPI - Slave/SPI/SPI.componentinfo.xml
EmbeddedSysLevel2/TrafficLight/TrafficLight/TrafficLight.atsln
EmbeddedSysLevel2/TrafficLight/TrafficLight/.vs/TrafficLight/v14/.atsuo

EmbeddedSysLevel2/I2C/I2C/atsln
EmbeddedSysLevel2/I2C/I2C/.vs/I2C/v14/.atsuo
EmbeddedSysLevel2/I2C/I2C/I2C/I2C.componentinfo.xml
EmbeddedSysLevel2/I2C/I2C/I2C/I2C.cproj
EmbeddedSysLevel2/I2C/I2C/I2C.atsln
EmbeddedSysLevel2/I2C/I2CSlave/I2CSlave/Debug
EmbeddedSysLevel2/I2C/I2C/I2C/Debug
EmbeddedSysLevel2/Com2MCUSPI/SlaveSPI/.vs/SlaveSPI/v14/.atsuo
EmbeddedSysLevel2/I2C/I2CSlave/I2CSlave.atsln
EmbeddedSysLevel2/I2C/I2CSlave/.vs/I2CSlave/v14/.atsuo
EmbeddedSysLevel2/I2C/I2CSlave/I2CSlave/I2CSlave.cproj
EmbeddedSysLevel2/I2C/I2CSlave/I2CSlave/I2CSlave.componentinfo.xml
